.main-first-ALink {
  text-decoration: none;
  color: azure;
}
.main-first {
  margin-top: 65rem;
  background-color: lightsalmon;
}
.main-first-I {
  opacity: 1;
  font-size: 3rem;
  display: grid;
}

/* this is animation */
