<!-- <div class="container">
  <div class="row"> -->


<!-- <mgl-timeline>
      <mgl-timeline-entry>
        <mgl-timeline-entry-header>
          میثم اسدیان
        </mgl-timeline-entry-header>
        <mgl-timeline-entry-content>کار در زمینه های کار در زمینه های
          کار در زمینه های کار در زمینه های
          کار در زمینه های
          کار در زمینه های
          کار در زمینه های کار در زمینه های کار در زمینه های کار در زمینه های کار در زمینه های
        </mgl-timeline-entry-content>
        <mgl-timeline-entry-dot style=" background-color: lightcoral"></mgl-timeline-entry-dot>
        <mgl-timeline-entry-side>2018</mgl-timeline-entry-side>
      </mgl-timeline-entry>


      <mgl-timeline-entry>
        <mgl-timeline-entry-side>سال 97</mgl-timeline-entry-side>
        <mgl-timeline-entry-header>کار ها</mgl-timeline-entry-header>
        <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
        <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
        <mgl-timeline-entry-content>Contentddddddddd ddddddddddddd dddddddddddd</mgl-timeline-entry-content>
        <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
        <mgl-timeline-entry-dot style=" background-color: lightcoral"></mgl-timeline-entry-dot>
      </mgl-timeline-entry>

      <mgl-timeline-entry>
        <mgl-timeline-entry-side>سال 95</mgl-timeline-entry-side>
        <mgl-timeline-entry-header>سابقه</mgl-timeline-entry-header>
        <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
        <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
        <mgl-timeline-entry-content>Contentddddddddd ddddddddddddd dddddddddddd</mgl-timeline-entry-content>
        <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
        <mgl-timeline-entry-dot style=" background-color: lightcoral"></mgl-timeline-entry-dot>
      </mgl-timeline-entry>

    </mgl-timeline>
  </div>
</div>
<hr>
<br><br> -->

<div class="container-fluid">
  <div class="row">
    <section id="timeline">

      <div class="tl-item col-sm-12 col-md-3">

        <div class="tl-bg" style="background-image: url('../../../../assets/p3.jpg')"></div>

        <div class="tl-year">
          <p class="f2 heading--sanSerif">2011</p>
        </div>

        <div class="tl-content">
          <h1>کنسرت یک</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
        </div>

      </div>

      <div class="tl-item col-sm-12 col-md-3">

        <div class="tl-bg" style="background-image: url(../../../../assets/p6.jpg)"></div>

        <div class="tl-year">
          <p class="f2 heading--sanSerif">2013</p>
        </div>

        <div class="tl-content">
          <h1 class="f3 text--accent ttu">کنسرت دو</h1>
          <p>Suspendisse potenti. Sed sollicitudin eros lorem, eget accumsan risus dictum id. Maecenas dignissim ipsum
            vel mi rutrum egestas. Donec mauris nibh, facilisis ut hendrerit vel, fringilla sed felis. Morbi sed nisl
            et arcu.</p>
        </div>

      </div>

      <div class="tl-item col-sm-12 col-md-3">

        <div class="tl-bg" style="background-image: url('../../../../assets/p3.jpg')"></div>

        <div class="tl-year">
          <p class="f2 heading--sanSerif">2014</p>
        </div>

        <div class="tl-content">
          <h1 class="f3 text--accent ttu">کنسرت سه</h1>
          <p>Mauris cursus magna at libero lobortis tempor. Suspendisse potenti. Aliquam interdum vulputate neque sit
            amet varius. Maecenas ac pulvinar nisi. Fusce vitae nunc ultrices, tristique dolor at, porttitor dolor.
            Etiam id cursus arcu, in dapibus nibh. Pellentesque non porta leo. Nulla eros odio, egestas quis efficitur
            vel, pretium sed.</p>
        </div>

      </div>

      <div class="tl-item col-sm-12 col-md-3">

        <div class="tl-bg" style="background-image: url('../../../../assets/p11.jpg')"></div>

        <div class="tl-year">
          <p class="f2 heading--sanSerif">2016</p>
        </div>

        <div class="tl-content">
          <h1 class="f3 text--accent ttu">کنسرت چهار</h1>
          <p> تست تستیان تست تستیان تست تستیانتست تستیانتست تستیان تست تستیان تست تستیانتست تستیانتست تستیان</p>
        </div>

      </div>
    </section>

  </div>
</div>
