// LAST SHOWS ITEMS
// body{
//   background:#f1f1f1;
//   font-family: 'Inconsolata', monospace;
//   font-weight:bold;
//   color:gray;
//   text-align:center;
//   -webkit-font-smoothing: antialiased;
// }
// .box-wrap{

//   display:flex;
//   align-items:center;
//   justify-content:center;
// }
// .box{
//   height: 35%;
//   padding:0px;
//   width:100%;
//   justify-content: center;
//   box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
//   border-radius:3px;
//   transition:.2s all;
// }
// .box-wrap:hover .box{
//   filter:blur(3px);
//   opacity:.5;
//   transform: scale(.98);
//   box-shadow:none;
// }
// .box-wrap:hover .box:hover{
//   transform:scale(1);
//   filter:blur(0px);
//   opacity:1;
//   box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
// }




body {
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

.beta { color: background-color("purple"); }

#timeline {
  display: flex;
  // background-color: #031625;
  background-color: white;
  width: 100%;

  &:hover {
    .tl-item {
      width: 33.3333%;
    }
  }
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 35%;
  height: 50vh;
  // min-height: 500px;
  min-height: 400px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;

  @media only screen and(max-width: 760px) {
    .tl-item {
    min-height: 15rem !important;
    }
  }


  &:before,
  &:after {
    transform: translate3d(0, 0, 0);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

  }

  &:after {
    // background: transparentize(#031625, 0.15);
    background: transparentize(#fff7e6, 0.30);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &:before {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 40%,
      rgba(255, 221, 153 , 1) 75%
      );
      // rgba(0, 0, 0, 0) 0%,
      // rgba(0, 0, 0, 1) 75% for the top leaner-gradient
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;

  }

  &:hover {
    width: 33.33% !important;

    @media (max-width: 760px) {
      width: 100% !important
    }
    &:after {
      opacity: 0;
    }

    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }

    .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;

      @media (max-width: 760px) {
        top: 30%;
      }

    }

    .tl-bg {
      filter: grayscale(0);
    }
  }
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;

  h1 {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial,
      sans-serif;
    text-transform: uppercase;
    color: #1779cf;
    font-size: 1.44rem;
    font-weight: normal;
  }
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}
