/* * {
  font-size: 1.4rem; //changes for 25.Feb.2019
} */
#Events {
 margin-top: 5.6rem;
}
.main-first-ALink {
  text-decoration: none;
  color: azure;
}
.main-first {
  height: 100%;
  align-items: center;
  text-align: center;
  display: grid;
}
/* .bbbb {
  height: 100%;
  align-items: center;
  text-align: center;
  display: grid;

} */
.main-first-I {
  font-size: 2.8rem;
  /* width: 100%; */
  display: grid;
  /* align-items: center; */
  /* text-align: center; */
  /* align-items: center; */
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* @media only screen and (max-width: 576px) {
  #Home {
    width: 36rem;
  }
}

@media only screen and (max-width: 576px) {
  #GuitarHistory {
    width: 36rem;
  }
}

@media only screen and (max-width: 576px) {
  #Videos {
    width: 36rem;
  }
} */

.text-color-size {
  color: white;
  font-size: 1.2rem;
}

.header-text-full {
  padding-top: 20rem;
}

#header-text {
  color: #d9524a;
  font-size: 2rem;
}

#Videos {
  width: 100%;
}

#header {
  width: 100%;
  /* height: 48rem; */
  min-height: 48rem;
  height: 100%;
  background: url("../../../../assets/p5.jpg") no-repeat bottom;
  background-size: cover;
  /* opacity: .7; */
}

.t-margin-top {
  margin-top: 3rem;
}

li {
  margin-right: 0.5rem;
}

.active {
  border-bottom: #d9524a;
}

.titleNames-margin {
  margin-top: 4rem;
}

.switch {
  padding-top: 1.4rem;
}

.fixed-top {
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.2);
}

.fixed-top :hover {
  color: crimson;
  opacity: 1;
}
/* .navbar-brand:hover,
.navbar-nav .nav-item .nav-link:hover {
  border-bottom: .7rem solid white;
} */

/* @media only screen and (max-width: 576px) {
  #PracticeVideos {
    width: 36rem;
  }
} */

#practiceVideos {
  height: 30rem;
  width: 100%;
}

.font-size-text {
  font-size: 1.2rem;
}

.text-aligment {
  text-align: right;
}

/* @media only screen and (max-width: 576px) {
  #se-to-TP {
    position: absolute;
    width: 36rem;
    min-height: 30rem;
  }
} */

.history-card {
  background: #323232;
}

.history-card-title {
  text-align: center;
  background: #6863ce;
  padding: 1rem 1rem;
}

/* @media only screen and (max-width: 770px) {
  .history-card-body {
    margin-bottom: 2rem;
  }
} */

.history-card-body {
  padding: 0 2rem;
  font-size: 1.2rem;
}

.history-card-button {
  background: #6863ce;
  border-radius: 0.8rem;
  color: white;
  /* margin-left: 13rem; */
  border: #6863ce;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.history-card-button:hover {
  box-shadow: 0 0.1rem 0.1rem 0 #6863ce, 0.1rem 0.1rem #6863ce;
}

#brand-logo {
  height: 3rem;
  width: 9rem;
}

.video-text-bottom-margin {
  margin-bottom: 3rem;
}

a {
  font-size: 2rem;
  font-family: fantasy;
}

#GuitarHistory {
  min-height: 15rem;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .element {
    height: 15rem !important;
    margin-top: 0.4rem;
  }
  .main-first-I {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 720px) {
  .element {
    height: 10rem !important;
    margin-top: 1rem;
  }
  .main-first-I {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  #first-element-top-height {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 405px) {
  #first-element-top-height {
    margin-top: 9rem;
  }
}


#header-img-as {
  max-width: 100%;
  min-height: 96rem;
}

.new-overlay {
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
  position: relative;
  opacity: 0.2;
  /* background-color: mediumpurple; */
  /* background-color: lightslategray; */
  opacity: 0.2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.new-overlay .main-first-I {
  opacity: 1 !important;
}
.element {
  height: 48rem;
}
.element:hover .new-overlay {
  opacity: 1;
}
.firstOverlay {
  opacity: 0.6;
}
/* .element:hover .firstOverlay {
  opacity: .7;
} */
.secondOverlay {
  opacity: 0.4;
}
/* .element:hover .secondOverlay {
  opacity: .7;
} */
