<div class="fixed-image-notes">
  <!-- <div class="body"> -->
  <div class="row justify-content-center">
    <div style="font-size: 2.2rem; margin: 5rem 2rem 3rem 2rem;" class="text-primary">
      <i class="fa fa-tasks"></i>{{ variable.checkTotalLangV ? 'طراحی لباس و فیگور' : 'Modesketch'}}</div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <!-- <div class="justify-content-center" *ngFor="let Tvideos of videolist; trackBy: trackByFn"> -->

      <div class="video_embed_frame"><span style="padding-top: 57%;"></span></div>


      <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6 col-lg-6"> <span style="display: block;padding-top: 57%;"></span><iframe
          src="https://www.aparat.com/video/video/embed/videohash/zZA7B/vt/frame" allowFullScreen="true"
          webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe></div>

      <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
          src="https://www.aparat.com/video/video/embed/videohash/zZA7B/vt/frame" allowFullScreen="true"
          webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe></div>

      <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
          src="https://www.aparat.com/video/video/embed/videohash/C9yq2/vt/frame" allowFullScreen="true"
          webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe>
      </div>

      <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
          src="https://www.aparat.com/video/video/embed/videohash/PA4kL/vt/frame" allowFullScreen="true"
          webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe>
      </div>
      <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
          src="https://www.aparat.com/video/video/embed/videohash/PA4kL/vt/frame" allowFullScreen="true"
          webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe>
      </div>

      <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
          src="https://www.aparat.com/video/video/embed/videohash/PA4kL/vt/frame" allowFullScreen="true"
          webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe>
      </div>

      <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
          src="https://www.aparat.com/video/video/embed/videohash/PA4kL/vt/frame" allowFullScreen="true"
          webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe>
      </div>





    </div>
  </div>
