<!-- <div data-target="#Events" data-spy="scroll"> -->

<nav class="navbar bg-dark navbar-dark fixed-top">

  <a class="navbar-brand justify-content-sm-center" [routerLink]="['/WPage']">
    <img src="../../../assets/siteLogo2.jpg" id="brand-logo" style="cursor: pointer;">
  </a>


  <div *ngIf="!variable.checkTotalLangV; else changeLang" class="collapse navbar-collapse" id="collapsibleNavbar">

    <ul class="nav navbar-nav" id="changeLangTransition">

      <li *ngIf="isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="logout()">Logoff [{{displayName}}]</a>
      </li>

    </ul>
  </div>

  <!-- for persian language -->
  <ng-template #changeLang>
    <div class="collapse navbar-collapse  flex-row-reverse" id="collapsibleNavbar">
      <ul class="nav navbar-nav flex-row-reverse">

        <li *ngIf="isLoggedIn" class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="logout()">Logoff [{{displayName}}]</a>
        </li>

      </ul>

    </div>


  </ng-template>

  <div class="btn btn-dark small-swtich-icon">
    <span class="switch switch-sm">
      <label for="switch-sm" style="font-size: .8rem">English</label>
      <input type="checkbox" class="switch" id="switch-sm" (click)=checkLang()>
      <label for="switch-sm">فارسی</label>
    </span>
  </div>

</nav>

<!-- </div> -->
