<div class="fixed-image-notes">
  <div class="body">
    <div class="container">
      <div class="row justify-content-center">
        <div style="font-size: 2.2rem; margin: 5rem 2rem 3rem 2rem;" class="text-primary">
          <i class="fa fa-tasks"></i>{{ variable.checkTotalLangV ? 'آموزش' : 'Lesson'}}</div>
      </div>
    </div>


    <div class="container">
      <div class="row">


        <div class="video_embed_frame mb-2 mt-2 pt-2"><span style="padding-top: 57%; margin-bottom: 3rem"></span></div>
        <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6 float-left m-2">
          <span style="display: block;padding-top: 57%"></span><iframe *ngFor="let videolist of videooo" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true" src="{{videolist}}">{{videolist}}</iframe>
        </div>
      </div>


    </div>
    <h3>Next videos</h3><br>
    <hr>

    <div class="container">
      <div class="row">

        <!-- <div class="justify-content-center" *ngFor="let Tvideos of videolist; trackBy: trackByFn"> -->

        <div class="video_embed_frame mb-2 mt-2 pt-2"><span style="padding-top: 57%; margin-bottom: 3rem"></span></div>



        <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6 col-lg-6 float-left"> <span style="display: block;padding-top: 57%;"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/zZA7B/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>

        <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/zZA7B/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>

        <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6"> <span style="display: block;padding-top: 57%"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/C9yq2/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>

        <div class="h_iframe-aparat_embed_frame col-sm-12 col-md-6"> <span style="display: block;padding-top: 57%"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/zD4iK/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>
        <!-- </div> -->

        <!-- <div class="element"></div> -->


        <!-- <div class="justify-content-center">
                <h4 style="text-align: left; float: left">
                  <span *ngIf="variable.checkTotalLangV" class="badge badge-primary">{{video.isFree ?
                    free : sale}}</span>
                  <span *ngIf="!variable.checkTotalLangV" class="badge" style="background-color: #009688">{{video.isFree
                    ? 'free' : 'sale'}}</span>
                </h4>
                <h5 style="text-align: right">
                  <span class="badge badge-light">{{i+1}}</span>
                </h5>
              </div>

              <div *ngIf="!variable.checkTotalLangV" class="card-body text-white" style="background-color: #009688">
                <p class="card-text">Some text.</p>
              </div>

              <div *ngIf="variable.checkTotalLangV" class="card-body bg-primary text-white">
                <p class="card-text" style="text-align: right">خوب قیمتی دارد</p>
              </div>
            </div> -->


        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <form class="form-inline">
        <div class="col-md-12 mb-3">
          <label *ngIf="!variable.checkTotalLangV" for="inlineFormInput">SRC</label>
          <label *ngIf="variable.checkTotalLangV" for="inlineFormInput">سورس</label>
          <input *ngIf="!variable.checkTotalLangV" type="text" class="form-control" id="inlineFormInput" placeholder="insert JUST iframe src"
            required>
          <input *ngIf="variable.checkTotalLangV" type="text" class="form-control" id="inlineFormInput" placeholder="فقط سورس را وارد فرمایید"
            required>
          <div class="invalid-feedback">
            سورس بدرستی وارد نشده است.
          </div>
          <label for="inlineFormSubmit"></label>
          <input type="button" class="btn btn-primary" value="Submit" id="inlineFormSubmit">

        </div>
      </form>
    </div>

  </div>

  <app-ng2-file-upload-test></app-ng2-file-upload-test>
</div>

<!-- <form #userForm = "ngForm" (ngSubmit)= "onSave(userForm.value)" novalidate> -->



<!--<div class="body">
  <div class="container">
    <div class="row justify-content-center">
      <div style="font-size: 2.2rem; margin: 5rem 2rem 3rem 2rem;" class="text-danger">
        <i class="fa fa-tasks"></i>{{ variable.checkTotalLangV ? 'آموزش' : 'Lesson'}}</div>
    </div>

    <div class="row justify-content-center">
      <div *ngFor="let Tvideos of videolist">

        <div class="text-primary">{{Tvideos.level}}<hr></div>
        <div class="justify-content-center col-sm-12 col-md-4 col-lg-3 float-left" style="margin: .5rem" *ngFor="let video of Tvideos.videos; let i = index">

          <img class="card-img-top position-relative float-left" (error)="ImgErrorHandler($event)" src={{video.src}} alt="Card image cap">

          <div class="position-absolute">
            <h4 style="text-align: left; float: left">
              <span class="badge badge-info">{{video.isFree ? free : sale}}</span>
            </h4>
            <h5 style="text-align: right">
              <span class="badge badge-light">{{i}}</span>
            </h5>
          </div>

          <div class="card-body bg-primary text-white">
            <p *ngIf="!variable.checkTotalLangV" class="card-text">Some text.</p>
            <p *ngIf="variable.checkTotalLangV" class="card-text">خوب قیمتی دارد</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->
<!--
script>
        var controller = new ScrollMagic();
      </script>
      <div class="spacer s2"></div>
      <div id="trigger1" class="spacer s0"></div>
      <div id="animate1" class="box2 skin">
        <p>I'm angry</p>
      </div>
      <div class="spacer s2"></div>
      <script>
      </script>
<script>
    var controller = new ScrollMagic.Controller();
  </script>
  <div class="spacer s2"></div>
  <div id="trigger1" class="spacer s0"></div>
  <div id="animate1" class="box2 skin">
    <p>I'm angry</p>
  </div>
  <div class="spacer s2"></div>
  <script>
    var scene = new ScrollMagic.Scene({
      triggerElement: "#trigger1"
    })
    .setTween("#animate1", 0.5 , {backgroundColor: "green", scale: 2.5 }).addIndicators({name: "1 (duration: 0)"}).addTo(controller);
  </script> -->
<!-- <video *ngIf="../" id="video_{{idx}}" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" controls preload="auto"
  width="640" height="264">

  <source [src]="url" type="video/mp4" />

</video>

<video *ngIf="videoUrl" id="video_player_id" class="video-js vjs-big-play-centered" controls preload="auto">
  <source src="{{listing.url}}" type="video/mp4">
</video> -->

<!-- <video *ngIf="url" id="video_player_id" class="video-js vjs-4-3 vjs-16-9 vjs-big-play-centered" controls preload="auto" width="640" height= "264">
  <source [src]="url" type="video/mp4" />

</video>
 -->

<!-- this is indide div class= element -->
<!-- <video id="video_player_id" class="video-js vjs-4-3 vjs-16-9 vjs-default-skin vjs-big-play-centered" controls preload="auto"
                  data-setup='{}' poster="{{video.poster}}" width="640" height="264">
                  <source src="{{video.src}}" type="video/mp4">
                </video> -->


<!-- <img class="card-img-top position-relative float-left" class="image" (error)="ImgErrorHandler($event)"
                  src={{video.src}} alt="Card image cap"> -->

<!-- <button *ngIf="!variable.checkTotalLangV && !video.isFree" class="btn btn-warning middle">{{video.isFree
                  ? 'تکمیل خرید' : 'Complete the purchase'}}</button>
                <button *ngIf="variable.checkTotalLangV && !video.isFree" class="btn btn-warning middle">{{video.isFree
                  ? 'Complete the purchase' : 'تکمیل خرید'}}</button> -->
