<!-- <div class="container">

	<svg viewBox="0 0 1418 116" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> -->
<!-- <title>@WebDesignerMag</title>
		<g stroke="none" fill="none" fill-rule="evenodd" fill-opacity="0">
			<text id="@WebDesignerMag" stroke="#fff" fill="#645F5A" font-weight="normal" font-family="PermanentMarker-Regular, Permanent Marker" font-size="144">
				<tspan x="3" y="109"> -->
<!-- <tspan>@</tspan>
					<tspan>W</tspan>
					<tspan>e</tspan>
					<tspan>b</tspan>
					<tspan>D</tspan>
					<tspan>e</tspan>
					<tspan>s</tspan>
					<tspan>i</tspan>
					<tspan>g</tspan>
					<tspan>n</tspan>
					<tspan>e</tspan>
					<tspan>r</tspan>
					<tspan>M</tspan>
					<tspan>a</tspan>
					<tspan>g</tspan>
				</tspan>
			</text>
		</g>
	</svg>

</div> -->

    <div class="fixed-image-notes">

  <div class="body">

    <div class="row justify-content-center" id="title-text">
      <div style="font-size: 2.2rem; margin: 5rem 2rem 3rem 2rem;" class="text-primary">
        <i class="fa fa-tasks"></i>{{ variable.checkTotalLangV ? 'اسکیس و راندو معماری' : 'Archisketchs' }}</div>

    </div>


    <div class="container-fluid">
      <div class="row">

        <!-- <div class="justify-content-center" *ngFor="let Tvideos of videolist; trackBy: trackByFn"> -->

        <div class="video_embed_frame"><span style="padding-top: 57%;"></span></div>


        <div class="h_iframe-aparat_embed_frame  col-sm-12 col-lg-6"> <span style="display: block;padding-top: 57%;"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/zZA7B/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe></div>

        <div class="h_iframe-aparat_embed_frame  col-sm-12 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/zZA7B/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe></div>

        <div class="h_iframe-aparat_embed_frame  col-sm-12 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/C9yq2/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe>
        </div>

        <div class="h_iframe-aparat_embed_frame  col-sm-12 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/PA4kL/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe>
        </div>
        <div class="h_iframe-aparat_embed_frame  col-sm-12 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/PA4kL/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe>
        </div>

        <div class="h_iframe-aparat_embed_frame  col-sm-12 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/PA4kL/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe>
        </div>

        <div class="h_iframe-aparat_embed_frame  col-sm-12 col-lg-6"> <span style="display: block;padding-top: 57%"></span><iframe
            src="https://www.aparat.com/video/video/embed/videohash/PA4kL/vt/frame" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe>
        </div>

      </div>
    </div>

  </div>
</div>


<!-- <div class="container-fluid">
  <div class="row">

<div class="video_embed_frame"><span style="padding-top: 57%;"></span></div>
<div *ngFor="let image of imges">
<div class="h_iframe-aparat_embed_frame  col-sm-12 col-lg-6"> <span style="display: block;padding-top: 57%;"></span><iframe
  src="{{image.url}}" allowFullScreen="true"
  webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" sandbox="allow-scripts"></iframe></div>
</div>
</div></div> -->
