.fixed-image-notes {
  background: url("../../../../assets/sk2.jpg") no-repeat fixed center;
  background-size: cover;
}

.text-primary {
  font-size: 2rem;
  /* margin-top: 3rem; */
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.element:hover .image {
  opacity: 0.3;
}

.element:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#video_player_id {
  width: 100% !important;
}

.h_iframe-aparat_embed_frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 20rem;
  min-width: 20rem;
}

.h_iframe-aparat_embed_frame {
  position: relative;
  margin-bottom: 0.2rem;
  float: left;
}

.h_iframe-aparat_embed_frame .ratio {
  display: block;
  float: left;
  width: 100%;
  height: auto;
}
.video_embed_frame {
  /* margin-bottom: 3rem; */
  position: relative;
}

.video_embed_frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 588px) {
  .h_iframe-aparat_embed_frame {
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
}
@media only screen and (max-width: 481px) {
  .h_iframe-aparat_embed_frame {
    margin-bottom: 5em;
    padding-bottom: 5em;
  }
}
@media only screen and (max-width: 270px) {
  #title-text {
    margin-top: 4rem;
  }
}
